<div id="story">
  <%= flash[:notice] %>
  <h1><%= @story.name %></h1>
  <%= image_tag(@story.image, class: 'story-image') %>
  <% @sentences.each do |sentence| %>
    <div class="sentence-box">
      <div class="sentence-tab">
        <%= sentence.author %>
      </div>
      <div class="sentence"><%= sentence.text %></div>
    </div>
  <% end %>
  <div id="buttons">
    <%= link_to "Add Sentence", new_story_sentence_path(@story), class: "btn btn-info" %>
    <%= link_to "Edit this Story", edit_story_path(@story), class: "btn btn-warning" %>
    <%= link_to "Delete this Story", story_path(@story),
    :data => { :confirm => "Are you sure you want to delete this story?",
      :method => "delete"}, class: "btn btn-danger" %>
    <%= link_to "All Stories", stories_path, class: "btn btn-info" %>
  </div>
</div>
